* {
    margin: 0;
    padding: 0;
    border: 0;
    
  
}


#parallax {
    /* The image used */
    background-image: url("/Assets/blackwood.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.container-sm {
    
    width:100%;
    background: #9a8c98;
    height: 512px;
    background-position: center;
    background-size:cover;

}
.sidebar {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #22223b;
    padding-top: 50px;
}

.sidebar a{
  font-size: 28px;
  font-weight: 600; 
    display: block;
    padding: 10px 20px;
    color: #9a8c98;
    text-decoration: none;
    font-family: 'Unica One', cursive;
    letter-spacing: 2px;
  

}

.sidebar a:hover {
  color: #f2e9e4;
  
}

h1 {
    padding: 25px;
    font-weight: 700;
    text-align: right;
    font-family: 'Unica One', cursive;
}

#image {
    margin: 10px;
}

.btn {
    margin: 15px;
    float: right;
    text-decoration: none;
    
}